{% extends 'base.html' %}
{% block title %}Blogly Create User{% endblock %}
{% block content %}
    <div id="edit-container">
    <h1>Edit a User</h1>
        <form action="/users/{{ user.id }}/edit" id="new-user-form" method="POST">
            <label for="fname">First Name:</label>
            <input type="text" value="{{ user.first_name }}" name="fname" required/>

            <label for="lname">Last Name:</label>
            <input type="text" value="{{ user.last_name }}"name="lname" required/>

            <label for="img-url">Image URL:</label>
            <input type="url" value="{{ user.image_url }}"name="img-url"/>

            <input type="submit" value="Add User"/>
        </form>
        <a href="/users/{{ user.id }}"><button>cancel</button></a>
    </div>
{% endblock %}