{% extends 'base.html' %}
{% block title %}Blogly Create User{% endblock %}
{% block content %}
    <div id="detail-container">
        <img src="{{ user.image_url }}"style="max-width: 50px; max-height: 50px;"placeholder="profile pic"/>
        <h1>{{ user.first_name }} {{ user.last_name }}</h1>
        <a href="/users/{{ user.id }}/edit"><btn>Edit</btn></a>
        <form action="/users/{{ user.id }}/delete" method="post">
            <button type="submit">Delete</button>
        </form>
        <a href="/users/{{ user.id }}/posts/new"><button>Add Post</button></a>
    </div>
    <div id="user-post-container">
        {% if posts %}
        <ul>
        {% for post in posts %}
            <li><a href='/posts/{{ post.id }}'>{{ post.title }}</a></li>
        {% endfor %}
        </ul>
        {% else %}
        <p>No posts yet!</p>
        {% endif %}
    </div>
{% endblock %}